/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mar-2016, 11.47.18
    Author     : Lorenzo Spanu
*/

/* Inserisco il Font e un'Immagine di Sfondo che sia valida per tutti gli HTML*/
body
{
    background-image: url('Immagini/sfondo-43.gif');
    text-align: justify;
    font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', 
                 Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;
}

/* Inserisco un Colore uguale per ogni pagina */
.page
{
    background: #B8CAE9;
}

.Header h1
{
    padding: 20px;
    background: #21aabd;
    margin-bottom: 0px;
}

/* Proprietà della Barra di Navigazione */
#NavBar
{
    width: 100%;
    background: #666;
    font-weight: bold;
    color:#fff;
}

/* Modifico i Link della Barra di Navigazione */
#NavBar a
{
    color:#fff;
    padding:15px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: oswald;
}

/* Modifico i Link della Barra di Navigazione quando viene passato il mouse sopra */
#NavBar a:hover
{
    background:#333;
    text-decoration: underline;
}

/* Inserimento Logo */
#Logo
{
    background-image: url('Immagini/modelli1.png');
    background-size: 960px 300px;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

/* Indice per la Sidebar1 */
#Search
{
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

/* Indice per la Sidebar2 */
#Search2
{
    padding-right: 30%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

/* NOTA: HO FATTO DUE SIDEBAR ESATTAMENTE IDENTICHE GIUSTO PER FARE IL
LAYOUT A 3 COLONNE. */

/* Sposto la Sidebar1 */
#Sidebar ul
{
    padding-left: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

/* Sposto la Sidebar2 */
#Sidebar2 ul
{
    padding-right: 10px;
    margin-top: 0px;
    margin-right: 0px;
}

/* Coloro i Link delle Sidebar */
#Sidebar a, #Sidebar2 a
{
    color: black;
}

/* Evidenzio i Link delle Sidebar quando passa sopra il cursore */
#Sidebar a:hover, #Sidebar2 a:hover
{
   font-weight: bold;
}

/* Inserisco il Footer */
.footer
{
    width: 100%;
    background: #21aabd;
    margin-bottom: 0px;
}

/* Modifico il testo dentro al Footer */
.footer p
{
    font-weight: bold;
    text-decoration: underline;
}

.Header h3
{
    text-decoration: underline;
    font-style: italic;
}


table, th, td
{
    border: 1px solid black;
}

table
{
    width: 100%;
}

th
{
    background-color: #A35454; 
    text-transform: uppercase;
    font-size: 20px;
    height: 50px;
}

th, td
{
    font-size: 20px;
    text-align: center;
}

td
{
    font-size: 30px;
}

/* Funzione che permette di colorare a righe alterne la Tabella */
tr:nth-child(even)
{
    background-color: #CACACA; 
}

/* Modifico lo Stile dei Button della Tabella */
.Button
{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #0076a3;
    background: #21aabd;
    height: 50px;
    width: 100px;
}

/* Manda a capo i campi di Input Login.html e Venditore.html */
label::after, label::before 
{
    content: '\A';
    white-space: pre;
}

#Nome, #URL, #Descrizione, #Prezzo, #Oggetti, #Username, #Password
{
    background-color: #D1D1D1;
    border-style: groove;
    width: 100%;
}

#Smartphone, #Oggetto, #Costo, #Immagine, #Disponibilita, #NomeUtente, #PSW
{
    color: black;
    font-weight: bold;
}

/* Modifico lo Stile dei Button di Login.html e Venditore.html */
#ButtonOKLogin, #ButtonOKVenditore
{
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #0076a3;
    background: #21aabd;
    height: 50px;
    width: 100px;
    margin-bottom: 5px;
}

/* Layout modificato per schermi maggiori o uguali a 1024px */
@media only screen and (min-width: 1024px)
{
    .page
    {
        width: 80%;
        margin: auto;
    }
    
    #contentDescrizione
    {
        width: 50%;
        margin: auto;
    }
    
    #Sidebar
    {
        float: left;
        margin-top: 22px;
        margin-left: 5%;
    }
    
    #Sidebar2
    {
        float: right;
        margin-top: 22px;
        margin-right: 3%;
    }
    
    #Search
    {
        margin-bottom: 15%;
    }
    
    #Search2
    {
        margin-bottom: 15%;
        text-align: center;
    }

    .Header h1, #NavBar, .footer
    {
        text-align: center;
    }
    
    #Logo
    {
        background-position: center;
    }
    
    #contentLogin
    {
        width: 15%;
        margin: auto;
    }
    
    #contentVenditore
    {
        width: 30%;
        margin: auto;
    }
    
    #ButtonOKVenditore
    {
        margin-left: 35%;
    }
    
    #ButtonOKLogin
    {
        margin-left: 23%
    }
}

/* Layout modificato per schermi minori o uguali a 480px */
@media only screen and (max-width: 480px)
{
    .page
    {
        width: 80%;
        margin: auto;
    }
    
    .Header h1, .footer
    {
        text-align: center;
    }
    
    #NavBar
    {
        font-size: 14px;
        text-align: center;
    }
    
    /* Nascondo il Logo e una delle Sidebar per una minore pesantezza */
    #Logo, #Sidebar
    {
        display: none;
    }
    
    #Sidebar2 ul
    {
        padding-left: 26px;
    }
    
    #Search2
    {
        margin-left: 11px;
    }
    
    #contentDescrizione
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    th
    {
        font-size: 10px;
        height: 10px;
    }
    
    th, td
    {
        font-size: 10px;
        text-align: center;
    }
    
    .Button
    {
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #0076a3;
    background: #21aabd;
    height: 50px;
    width: 100px;
    margin-bottom: 5px;
    }
    
    #Redmi, #Ipad, #Sony, #HTC, #Apple 
    {
        height: 50px;
        width: 50px;
    }


    #contentLogin
    {   
        width: 40%;
        margin: auto;
    }
    
    #ButtonOKLogin
    {
        margin-left: 23%;
    }

    #contentVenditore
    {
        width: 50%;
        margin: auto;
    }
    
    #ButtonOKVenditore
    {
        margin-left: 30%;
    }
}

/* Layout modificato per schermi compresi tra 1024 e 480px */
@media only screen and (min-width: 481px)
and (max-width: 1024px)
{
    .page
    {
        width: 80%;
        margin: auto;
    }
    
    /* Nascondo il Logo e una delle Sidebar per una minore pesantezza */
    #Logo, #Sidebar
    {
        display: none;
    }
    
    #Sidebar2
    {
        float: right;
        margin-top: 22px;
        margin-right: 5px;
    }
    
    #Search2
    {
        margin-bottom: 15%;
        text-align: center;
    }

    .Header h1, .footer
    {
        text-align: center;
    }
    
    #NavBar
    {
        text-align: center;
        font-size: 15px;
    }
    
    #Logo
    {
        background-position: center;
        background-color: #DCDCDC;
    }
    
    #contentLogin
    {
        width: 30%;
        margin: auto;
    }
    
    #contentVenditore
    {
        width: 50%;
        margin: auto;
    }
    
    #ButtonOKVenditore
    {
        margin-left: 35%;
    }
    
    #ButtonOKLogin
    {
        margin-left: 15%;
    }
                 
    #contentDescrizione
    {
        width: 50%;
        margin-left: 5px;
    }
    
    th
    {
        font-size: 10px;
        height: 10px;
    }
    
    th, td
    {
        font-size: 10px;
        text-align: center;
    }
    
    #Redmi, #Ipad, #Sony, #HTC, #Apple 
    {
        height: 95px;
        width: 95px;
    }
    
}
